main{
    display:flex;
    flex-wrap:wrap;
}

main h2{
    margin-right: 80%;
}
section{
    flex-basis:33%;
    margin: 0.25%;
    flex-grow: 0;
}

h1{
    text-align: center;
}

body{
    display:flex;
    flex-wrap:wrap;
}

header{
    flex-grow: 1;
    display:flex;
    flex-wrap: wrap;
}

nav{
    flex-grow: 1;
    flex-basis: 100%;
    display:flex;
    flex-wrap: wrap;
}

a{
    flex-basis: 25%;
}

aside{
    margin-left: 82%;
    position: absolute;
    top: 14%;
}

footer{
    flex-grow: 1;
    
}

img{
    max-width: 90%;
}
