/* le menu de navigation */

article {
    display: flex;
    flex-wrap: nowrap;
}

main>img {
    width:60%;
    margin-left :20%;
}

nav {
    display: flex;
    flex-wrap: nowrap;
}

nav a{
    flex-grow: 1;
    padding-left: 10%;
}

ul {
    display:flex;
    flex-wrap: nowrap;
    width: 85%;
}

li{
    flex-grow: 1;
    padding-left: 15em;
}

li img{
    width: 9em;
}