/* Règles générales */

h1, h2, h3{
    color: darkblue;
}

h1 {
    text-align: center;
}

article li{
    list-style: none;
}

body>header, footer{
    background-color:lightgray;
}

section{
    background-color: lightblue;
}

header img{
    width: 55%;
	height: 55%;
}

footer img{
    height:1em;
    width: 1em
}

article {
    text-align: center;
}

li{
    width: 30em;
}
